#footer {
	background:transparent url( '../img/header_bg.jpg' ) 0 0 repeat;
    padding-top:20px;
    border-top:3px solid #DBDBDB;
	.top-links {
		margin-bottom:5px;
		.make-xs-column(12);
		.make-sm-column(12);
		.make-md-column(12);
		.make-lg-column(12);
		.logo {
			margin:2px 13px 0 0;
			.pull-left;
			a {
				display:block;
			}
		}
		.sub-link {
			min-height:57px;
			.pull-left;
			a {
				font-weight:bold;
				display:block;
				vertical-align:bottom;
			}
			img {
				padding-right:5px;
			}
			&.shed-link {
				margin-left:13px;
				img {
					margin-top:29px;
				}
			}
		}
	}
	.trending, .newsletter, .about-us, .subscribe {
		.make-md-column(3);
		.make-lg-column(3);
		.header {
			font-weight:bold;
			margin-bottom:0;
		}
		.top-border {
			border-top:1px solid #ccc;
		    padding-top:10px;
		}
	}
	.trending {
		.terms {
	        margin-top:0;
	        padding-left:19px;
	        li {
	        	display:list-item;
	        }
	    }
	}
	.newsletter {
		label {
			cursor:pointer;
			font-weight:normal;
		}
		.email-area {
	        #appendedInputButton {
	            border-radius: 0;
	            margin:0;
	            width:76%;
	        }
	        .btn {
	        	background:#ED1C24;
	        	color:#fff;
	        	border-radius:0;
	        	padding:3px 10px 1px;
	        	border:1px solid #ccc;
	        	position:relative;
	        	top:-1px;
	        	left:-5px;
	        }
	    }
	}
	.about-us {
		.about-column-01, .about-column-02 {
			padding:0 !important;
			.make-md-column(6);
			.make-lg-column(6);
			ul {
				padding-left:19px;
			}
		}
	}
	.socialArea {
		clear:both;
	}
	.soci {
		list-style:none;
		padding:0;
		li {
			display:inline-block;
			&:not(:last-child) {
				margin-right:6px;
			}
		}
	}
	.subscribe {
		.footer-content, .footer-image {
			padding:0 !important;
		}
		.footer-content {
			.make-md-column(5);
			.make-lg-column(5);
		}
		.footer-image {
			.make-md-column(7);
			.make-lg-column(7);
		}
		#mag-arrow {
			width:100%;
			height:auto;
            margin-top:-40px;
            margin-left:-20px;
        }
        .header {
        	color:#ED1C24;
        	margin-top:-15px;
        }
        p {
        	margin-bottom:5px;
        }
        #mag-cover {
            border:1px solid #ccc;
            margin-top:-20px;
        }
        hr {
            border:none;
            background:#ED1C24;
            height:7px;
            width:93%;
            margin-top: 0px;
        }
	}
	.footer_copyright {
		margin:20px 0;
		.make-md-column(12);
		.make-lg-column(12);
		p {
			font-size:12px;
			line-height:16px;
			margin-bottom:0;
		}
	}
}