body {
	padding-top: 40px;
	&.admin-bar {
		.navbar-blue {
			top: 32px;
		}
	}
}
.navbar-fixed-top {
	z-index:9999;
}

// Set some variables that is only used in the main nav
@secondary-color: #ebebeb;

// Wrapper that contains both the main and secondary navigations
.top-navigation-wrapper { 
	.nav { margin-bottom:0; }
}

// Wrapper containing the main navigaiton
.main-header {
	margin-top:20px;
	padding:0;
	border-top:@the-border solid @red;
	border-bottom:@the-border solid #a4a4a4;
	min-height:145px;
	.row { position:relative; }
	.logo {
		margin-top:80px;
		.make-xs-column(12);
		.make-sm-column(12);
		.make-md-column(2);
		.make-lg-column(2);
		a {
			display:block;
		}
	}
	.hdr-sub-ad-01 {
		margin-top:14px;
	}
	.additional-content {
		position:absolute;
		right:0;
		.search-make {
			// float:right;
			margin:0;
			border:@the-border solid @red;
			border-top:none;
			.border-bottom-right-radius(5px);
			.border-bottom-left-radius(5px);
			.clearfix();
			input[type="text"] {
				width:82%;
				float:left;
				border:none;
				outline:none;
				padding:5px 0 5px 8px;
				color:#777; 
				background:transparent;
				.box-shadow(0 0 0 transparent);
			}
			input[type="image"] {
				float:right;
				margin:6px 8px;
			}
		}
	}
}
.makershed-banner {
	background:#de231a;
}

.page-template-page-craft-php .main-header .logo {
	margin-top: 60px;
}

.single-craft .main-header .hdr-sub-ad-01, .post-type-archive-craft .main-header .hdr-sub-ad-01{
	margin-top: 17px;
}

// Wrapper containing the secondary navigation
.secondary-header {
	background:@secondary-color;
	.box-shadow( inset 0 10px 18px -10px #a4a4a4 );
}

// Global Navigation styles
.site-navigation {
	li { .pull-left; }
	li.dropdown:hover {
		> ul.dropdown-menu {
			display:block; // Allows us to use hover on the dropdowns rather than click.
		}
	}
	a, .dropdown-menu a {
		color:@blue;
		background:none; 
		&:hover {
			color:@blue !important;
			text-decoration:underline !important;
			background:none !important;
		}
	}
	.open > a {
		color:@blue !important;
		text-decoration:underline !important;
		background:none !important;
	}
	.sub-menu, .dropdown-menu {
		display:none; // Add this so our subnav doesn't display before the Bootstrap classes are added.
		border-top:none;
		.border-radius(2px);
	}
}

// Main Navigation styles
.primary-navigation {
	font-size:20px !important;
	font-weight:bold;
	position:relative;
	margin-bottom:0 !important;
	top:107px;
	.make-xs-column(12);
	.make-sm-column(9);
	.make-md-column(7);
	.make-lg-column(7);
	.navbar-collapse {
		padding:0;
	}
	.navbar-default {
		background:transparent;
		> li {
			margin:0 14px 0 0;
			padding:0;
			> a {
				padding:5px;
				font-size:20px;
			}
		}
	}
	.dropdown-menu {
		margin-top:0px;
		font-size:17px;
		background:#fff;
	}
}

// Secondary Navigation
.secondary-navigation {
	font-size:16px;
	border-bottom:1px solid lighter(@secondary-color);
	padding:0 7px !important;
	.make-xs-column(12);
	.make-sm-column(12);
	.make-md-column(12);
	.make-lg-column(12);
	a {
		padding:10px 15px 10px 7px !important;
	}
	.first > a {
		padding-left:0;
	}
	.dropdown-menu {
		background:@secondary-color;
		margin-top:-1px;
		border-color:lighter(@secondary-color);
		li { width:100%; }
	}
}

// max width 970px
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	.main-header {
		.logo {
			margin-top:90px;
		}
	}
	.primary-navigation {
		top:112px;
		.navbar-default {
			> li {
				margin:0 7px 0 0;
				> a {
					font-size:17px;
				}
			}
		}
	}
	.secondary-navigation {
		ul {
			> li {
				> a {
					padding:10px;
				}
			}
		}
	}
}


// max width 750px
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	.main-header {
		.logo {
			margin-top:61px;
		}
		.hdr-sub-ad-01 {
			margin-top:16px;
		}
	}
	.primary-navigation {
		top:0;
		padding:0 7px;
		.navbar-default {
			> li {
				margin:0 8px 0 0;
				> a {
					font-size:16px;
				}
			}
		}
	}
	.secondary-navigation {
		ul {
			> li {
				> a {
					font-size:14px;
					padding:10px 5px 10px 7px !important;
				}
			}
		}
	}
}

// max width none
@media (max-width: @screen-xs-max) {
	body {
		padding-top:0;
	}
	.main-header {
		margin:0;
		border:none;
		.logo {
			margin-top:15px;
			text-align:center;
			.make-xs-column(12);
		}
		.additional-content {
			position:relative;
			text-align:center;
			.make-xs-column(12);
		}
	}
	.search-make-mobile {
		float:left;
		width:50%;
		position:relative;
		input[type="text"] {
			border:none;
			padding:11px 30px 11px 10px;
			font-size:20px;
			width:100%;
			border-right:1px solid #e7e7e7;
			outline:none;
		}
		input[type="image"] {
			position:absolute;
			top:50%;
			margin-top:-9.5px;
			right:7px;
		}
	}
	.navbar-toggle {
		float:right;
		outline:none;
	}
	.navbar {
		min-height:inherit;
		margin:0;
	}
	.mobile-navigation {
		.navbar-nav {
			margin-top:0;
			> li > a, > li.open > a {
				color:@blue;
			}
		}
		.menu-primary-nav {
			background:#fff;
			> li > a {
				font-weight:bold;
			}
		}
		.menu-secondary-nav {
			background:@secondary-color;
			.box-shadow( inset 0 10px 18px -10px #a4a4a4 );
		}
	}
}




// For now, only run our media queries on the Maker Camp pages as it trys to run on non-responsive pages...
@media (max-width: 1200px) {
	body.makercamp .make-popdown {
		.menu-bottom {
			p, ul { font-size:17px !important; }
		}
	}
}

@media (max-width: 980px) {
	body.makercamp .make-popdown {
		.side-text {
			font-size:16px;
			a { font-size:17px; }
		}
		.menu-bottom {
			p, ul { font-size:13px !important; }
		}
		ul.nav {
			&.first {
				font-size:15px;
				a { line-height:2.3em; }
			}
			&.second {
				font-size:15px;
				a { line-height:1.6em; }
			}
		}
	}
}

@media (max-width: 767px) {
	body.makercamp .make-popdown {
		text-align:center;
		.border-right {
			border:none;
			border-bottom:2px solid #b7b7b7;
			margin:0 0 10px 0;
			padding:0 0 10px 0;
		}
	}
}

@media (max-width: 540px) {
	body.makercamp .make-popdown {
		.menu-bottom {
			p {
				margin:0;
				padding:0;
			}
		}
	}
}